* {
    box-sizing: border-box;
}

:root {

    /*Light Theme*/
    --light-gray: #ededf4;
    --border-color: #f6f6f9;
    --heading-color: #20123a;
    --paragraph-color: #666766;
    --primary-color: #67d1d2;
    --secondary-color: #f0fafb;
    --container-background: white;

    /*Dark Theme*/
    /*--light-gray: #2a2a2e;
    --border-color: #f6f6f9;
    --heading-color: #fff;
    --paragraph-color: #fff;
    --primary-color: #15847d;
    --secondary-color: #29373d;
    --container-background: #38383d;*/
}

body {
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.5rem;
    font-family: 'Metropolis';
}

.container {
    background-color: var(--container-background);
    width: 85%;
    height: 80vh;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-section {
    background-color: var(--light-gray);
    margin: 1.5rem;
    border-radius: 15px;
}

.right-section {
    margin: 1.5rem;
}

img {
    width: 90%;
}

.icon-nav {
    display: flex;
    justify-content: space-between;
}

.icon-nav img {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.icon-nav button img {
    margin-right: 0;
}

.icon-nav button {
    color: var(--primary-color);
    border: none;
    background-color: var(--secondary-color);
    padding: 10px;
    font-size: 15px;
    margin-left: auto;
    border-radius: 7px;
    cursor: pointer;
}

h1 {
    color: var(--heading-color);
    font-size: 2.6rem;
    margin-top: 45px;
    line-height: 1.1;
}

p {
    font-family: 'Roboto';
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: var(--paragraph-color);
    margin-top: 0;
    margin-bottom: 25px;
}

.btn-solid,
.btn-outline {
    padding: 15px 25px;
    border-radius: 6px;
    border: none;
    margin-right: 5px;
    font-family: Roboto;
    font-size: 15px;
    cursor: pointer;
}

.btn-solid {
    color: white;
    background-color: var(--primary-color);

}

.btn-outline {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 15px;
    cursor: pointer;
}

.toggle {
    background-color: va(--secondary-color);
    padding: 10px;
 }

.right-section label {
	margin-left: auto;
}
